<<<<<<< HEAD
*,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  background: rgb(238, 237, 237);
  margin: 0px auto;
  height: auto;
}

.main-wrap {
  display: flex;
}
.row {
  flex: 50%;
  padding: 10px;
  height: 300px;
}
.wrap-one .hd-one {
  color: greenyellow;
  font-size: 25px;
  padding: 5px 0px 10px 5px;
}
.wrap-one .hd-two {
  color: rgb(153, 126, 241);
  padding: 5px 0px 10px 5px;
  font-size: 25px;
}
button.btn a {
  text-decoration: none;
}
button.btn {
  padding: 10px 18px;
  background: wheat;
  border-radius: 8px;
  border: none;
}

p.get-paragraph {
  padding: 25px 0px;
}
p.down-txt {
  padding: 20px 0px;
}
.for-border {
  border-left: 3px solid yellow;
}
.wrap-two img {
  width: 70%;
  height: 300px;
}
/* ==========-=======second section css =================*/
section.second-row {
  margin: 50px 0px;
}
.mission {
  text-align: center;
  padding: 20px 0;
}

.mission h1 {
  color: violet;
  font-size: 42px;
}

.mission span {
  color: rgb(245 222 179);
}
.mission-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.mission-column {
  flex: 30%;
  background-color: greenyellow;
  height: 270px;
  border-radius: 15px;
}
.mission-column:nth-child(1) {
  margin-right: 24px;
}
.mission-column:nth-child(2) {
  margin-right: 24px;
}
.row-one img {
  width: 40%;
  height: auto;
}

.row-one h1 {
  padding: 5px 20px 19px;
  font-size: 25px;
}
.mission-column p.pera {
  font-size: 13px;
  padding: 0px 15px;
}
.develop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 132px;
}
.col-one {
  flex: 35%;
  height: 270px;
  border-radius: 15px;
}
.col-two {
  flex: 65%;

  height: 270px;
  border-radius: 15px;
}
.col-one img {
  width: 85%;
}
.col-two h1.dev-text {
  font-size: 35px;
  margin-top: 42px;
}

p.pera-dev {
  padding: 35px 0px;
}

a.btn {
  text-decoration: none;
  background: yellow;
  padding: 12px;
  border-radius: 8px;
}
section.top-slider {
  margin-top: 150px;
}

.hd-slider h1 {
  text-align: center;
  font-size: 35px;
}
.hd-slider {
  margin: 30px 0px;
}

.hd-slider span {
  color: #edac5f;
}

footer.our-fot {
  margin-top: 50px;
  text-align: center;
  background: black;
  padding: 33px 0px;
}

footer.our-fot h2 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0px;
  color: #fff;
}

h2.footer-head span {
  color: red;
}
span.sm-txt {
  font-size: 12px;
  color: #fff;
}
/* ===========-=====slider css=============== */
.slider {
  background-color: #fff;
  box-shadow: inset 2px 3px 8px 0px #0037ff;
  height: 18.75em;
  padding: 0.5em;
  width: 25em;
  margin: 0px auto;
}

/* Frame */

.slider:before {
  background-color: #22130c;
  bottom: -2.5em;
  box-shadow: inset 0 1px 1px 1px hsla(0, 0%, 100%, 0.2),
    inset 0 -2px 1px hsla(0, 0%, 0%, 0.4), 0 5px 50px hsla(0, 0%, 0%, 0.25),
    0 20px 20px -15px hsla(0, 0%, 0%, 0.2),
    0 30px 20px -15px hsla(0, 0%, 0%, 0.15),
    0 40px 20px -15px hsla(0, 0%, 0%, 0.1);
  content: "";
  left: -2.5em;

  right: -2.5em;
  top: -2.5em;
  z-index: -1;
}

/* Mat */

.slider:after {
  background-color: #fff5e5;
  bottom: -1.5em;
  box-shadow: 0 2px 1px hsla(0, 0%, 100%, 0.2),
    0 -1px 1px 1px hsla(0, 0%, 0%, 0.4),
    inset 0 2px 3px 1px hsla(0, 0%, 0%, 0.2),
    inset 0 4px 3px 1px hsla(0, 0%, 0%, 0.2),
    inset 0 6px 3px 1px hsla(0, 0%, 0%, 0.1);
  content: "";
  left: -1.5em;

  right: -1.5em;
  top: -1.5em;
  z-index: -1;
}

/* Slides */

.slider li {
  box-shadow: 0 -1px 0 2px hsla(0, 0%, 0%, 0.03);
  list-style: none;
  position: absolute;
}
.slider input {
  display: none;
}

/* Navigation */

.slider label {
  background-color: #111;
  background-image: linear-gradient(transparent, hsla(0, 0%, 0%, 0.25));
  border: 0.2em solid transparent;
  bottom: 0.5em;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 14px;
  left: 24em;
  opacity: 0;
  position: absolute;
  transition: 0.25s;
  width: 14px;
  visibility: hidden;
  z-index: 10;
}

.slider label:after {
  border-radius: 100%;
  bottom: -0.2em;
  box-shadow: inset 0 0 0 0.2em #111, inset 0 2px 2px #000,
    0 1px 1px hsla(0, 0%, 100%, 0.25);
  content: "";
  left: -0.2em;
  position: absolute;
  right: -0.2em;
  top: -0.2em;
}
.slider:hover label {
  opacity: 1;
  visibility: visible;
}
.slider input:checked + label {
  background-color: #fff;
}
.slider:hover li:nth-child(1) label {
  left: 0.5em;
}
.slider:hover li:nth-child(2) label {
  left: 2em;
}
.slider:hover li:nth-child(3) label {
  left: 3.5em;
}
.slider:hover li:nth-child(4) label {
  left: 5em;
}

/* Images */

.slider img {
  height: 18.75em;
  opacity: 0;
  transition: 0.25s;
  width: 25em;
  vertical-align: top;
  visibility: hidden;
}
.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
=======
*,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 90%;
  background-color: cadetblue;
  margin: 0px auto;
}

.main-wrap {
  display: flex;
}
.row {
  flex: 50%;
  padding: 500px;
}
>>>>>>> 7ddea982222e69fba7d78f2157b5dd14ca6bda8b
