*,
body {
  margin: 0%;
  padding: 0%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 90%;
  background-color: cadetblue;
  margin: 0px auto;
}

.main-wrap {
  display: flex;
}
.row {
  flex: 50%;
}
